<footer>
    <div style="background-color: rgb(36, 36, 36);">
      <div class="d-flex justify-content-evenly">
        <div class="footer-itens">
          <h2>SOBRE NÓS</h2>
          <ul>
            <li>Rua Castelo branco, nº 10,centro, Palmas-To.</li>
            <li>(63)99999-9999</li>
            <li>academia@mail.com</li>
          </ul>
        </div>
        <div class="footer-itens">
          <h2>INFORMAÇÕES</h2>
          <ul>
            <li>Suporte</li>
            <li>Reportar abuso</li>
            <li>Política e regras</li>
            <li>Licença</li>
            <li>Política de privacidade</li>
            <li>Login</li>
          </ul>
        </div>
        <div class="footer-itens">
          <h2>CANAL DE NOTÍCIAS</h2>
          <p>Se inscreva para receber as notícias:</p>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <a href="#" class="btn btn-warning" style="color: black; font-weight: bold;">ASSINE AGORA</a>
          </form>
          
        </div>

      </div>
      <div style="background-color: rgb(36, 36, 36);">
        <p>2024 TODOS OS DIREITOS RESERVADOS, DESENVOLVIDO POR CÁSSIO COUTINHO</p>
      </div>
    </div>
  </footer>