{% load static %}

<section>
    <div class="bg-color">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="color-logo-yellow" aria-current="page" href="#">PÁGINA
                            INICIAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="{% url 'loja' %}">LOJA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="#">PLANOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="{% url 'horarios' %}">HORÁRIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="#">SOBRE NÓS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="#">CONTATO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="color-logo-white" href="{% url 'login' %}">LOGIN</a>
                    </li>
                </ul>
            </div>
    </div>
    </nav>


    </div>
</section>