<!DOCTYPE html>
{% include 'partials/head.html' %}
{% load static %}
<html lang="en">

<body>

  {% include 'partials/header.html' %}

  <section>
    <div class="bg-color" style="height: 100vh; overflow-x: hidden;">
      <div class="container-login" style="width: 100%;">
        <div class="row justify-content-center mt-5">
          <h2 class="text-center mt-5" style="color: yellow; font-weight: bold;">HORÁRIOS ACADEMIA</h2>
          <div style="display: flex;  flex-wrap: wrap; justify-content: center;">
            <div class="p-5" style="display: flex;  flex-wrap: wrap; justify-content: center;">

              <div class="card" style="width: 18rem; height: 30rem; background-color: rgb(36, 36, 36); margin: 10px;">
                <div class="card-body">
                  <h5 class="text-center p-2" style="background-color: yellow; color: black; font-weight: bold;">
                    JIU-JÍTSU</h5>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                </div>
              </div>

              <div class="card" style="width: 18rem; height: 30rem; background-color: rgb(36, 36, 36); margin: 10px;">
                <div class="card-body">
                  <h5 class="text-center p-2" style="background-color: yellow; color: black; font-weight: bold;">
                    JIU-JÍTSU</h5>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                </div>
              </div>

              <div class="card" style="width: 18rem; height: 30rem; background-color: rgb(36, 36, 36); margin: 10px;">
                <div class="card-body">
                  <h5 class="text-center p-2" style="background-color: yellow; color: black; font-weight: bold;">
                    JIU-JÍTSU</h5>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                </div>
              </div>

              <div class="card" style="width: 18rem; height: 30rem; background-color: rgb(36, 36, 36); margin: 10px;">
                <div class="card-body">
                  <h5 class="text-center p-2" style="background-color: yellow; color: black; font-weight: bold;">
                    JIU-JÍTSU</h5>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                  <div class="text-center m-2 p-1 bg-time">
                    <h6>SEGUNDA-FEIRA</h6>
                    <p>6h - 7h - 19h - 20h </p>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  {% include 'partials/footer.html' %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>